common:
  notify-for-days: 10
  admins-emails: ["admin@mail.com"]
  table-caption: "TABLE NAME"
  table-header-name-column: "Client name"
  table-header-checking-column: "License expiration date"
  date-format: "2006-01-02" # The layout defines the format by showing how the reference time, defined to be "Mon Jan 2 15:04:05 -0700 MST 2006"

excel:
  file: "./excel.xlsx"
  sheet: "Sheet1"
  name-column: "A"
  checking-column: "B"
  checking-row-start: 2
  checking-row-end: 100
  personal-notification-bundles: [""]
  personal-notification-emails: ["admin@cleint.com"]

smtp:
  host: "mail.company.com"
  port: 587
  user: "svc-mail"
  pass: "qwerty123"
  from: "svc-mail@company.com"
  to: ["boss@mail.com"]
  cc: ""
  subject: "ALARM"